{
    "extends": "eslint:recommended",
    "env": {
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "script"
    },
    "rules": {
        "quotes": [2, "single", {"avoidEscape": true}],
        "semi": 2,
        "no-console": 1,
        "no-var": 1
    }
}
