{
    "extends": "eslint:recommended",
    "env": {
        "node": true
    },
    "rules": {
        "quotes": [2, "double", {"avoidEscape": true}],
        "semi": 2,
        "one-var": [2, "never"],
        "no-console": 0
    }
}
