language: java
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

jdk:
  - oraclejdk8

env:
  global:
    - CXX=g++-4.8
  matrix:
    - TRAVIS_NODE_VERSION=6
    - TRAVIS_NODE_VERSION=8

before_install:
  - nvm install $TRAVIS_NODE_VERSION

install: "npm install"
script: "npm test"
